Employee/Web References/EmployeesRef/Employees.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/employees" targetNamespace="urn:microsoft-dynamics-schemas/page/employees" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/employees" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Gender">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Female" />
          <xsd:enumeration value="Male" />
          <xsd:enumeration value="Joint" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Disabled">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="Yes" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Employment_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Contract" />
          <xsd:enumeration value="Permanent" />
          <xsd:enumeration value="Trustee" />
          <xsd:enumeration value="Attachee" />
          <xsd:enumeration value="Intern" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Employees">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FullName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="First_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Middle_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Last_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Job_Title" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Mobile_Phone_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="E_Mail" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Global_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="tns:Gender" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PIN_Number" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Social_Security_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NHIF_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disabled" type="tns:Disabled" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Employment_Type" type="tns:Employment_Type" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ethnic_Name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Home_District" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bank_Account_Number" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Employees_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Employees" type="tns:Employees" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Employees_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="No" />
          <xsd:enumeration value="FullName" />
          <xsd:enumeration value="First_Name" />
          <xsd:enumeration value="Middle_Name" />
          <xsd:enumeration value="Last_Name" />
          <xsd:enumeration value="Job_Title" />
          <xsd:enumeration value="Mobile_Phone_No" />
          <xsd:enumeration value="E_Mail" />
          <xsd:enumeration value="Global_Dimension_1_Code" />
          <xsd:enumeration value="Global_Dimension_2_Code" />
          <xsd:enumeration value="Gender" />
          <xsd:enumeration value="PIN_Number" />
          <xsd:enumeration value="ID_No" />
          <xsd:enumeration value="Social_Security_No" />
          <xsd:enumeration value="NHIF_No" />
          <xsd:enumeration value="Disabled" />
          <xsd:enumeration value="Employment_Type" />
          <xsd:enumeration value="Ethnic_Name" />
          <xsd:enumeration value="Home_District" />
          <xsd:enumeration value="County" />
          <xsd:enumeration value="Bank_Account_Number" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Employees_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Employees_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:Employees" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Employees" type="tns:Employees" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Employees_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Employees_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <portType name="Employees_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
  </portType>
  <binding name="Employees_Binding" type="tns:Employees_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employees:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employees:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employees:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employees:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/employees:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Employees_Service">
    <port name="Employees_Port" binding="tns:Employees_Binding">
      <address location="http://agileapp.agilebiz.co.ke:8875/NIAFIBER/WS/LIVE%20NIA/Page/Employees" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>